body {
  background-color: #23252c;
  display: flex;
  justify-content: center;  /* centres whole body*/
  padding: 20px;
  font-family:'Inter', 'Courier New', Courier, monospace;
}

.info-card {
  background-color: #1a1b21;
  width: 300px;   /* fixed width for card */
  border-radius: 12px;  
  padding: 20px;
  text-align: center;
}

img {
  display: block;
  width: 100%;    /* fill card width */
  height: auto;   /* fixes aspect ratio.. */
  border-radius: 12px;
}

header > h1 {
  color: white;
  font-weight: 700;
  margin-bottom: 0%;  /* no automatic space under*/
}

header > p {
  color: rgb(255, 142, 101);
  font-weight: 300;
  font-size: 0.9rem;
  margin-top: 2%;
}
.buttons-div{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-top: 10%;
}
.email-btn {
  display: flex;
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 4px;
  padding: 7px 22px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 0.9rem;
}
.link-btn{ 
  display: flex;
  align-items: center;
  background-color: #2DAFFF;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 7px 14px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 0.9rem;
}

.btn-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}