body {
  background-color: #23252c;
  display: flex;
  justify-content: center;  /* centres whole body*/
  padding: 20px;
  font-family:'Inter', 'system-ui', sans-serif;
}

h2 {
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
}

p {
  color: white;
  font-weight: 200;
  font-size: 0.73rem;
  line-height: 140%;
  margin: 0;
}

a {
  text-decoration: none;
}

.info-card {
  background-color: #1a1b21;
  width: 300px;   /* fixed width for card */
  border-radius: 12px;  
  text-align: center;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;    /* fill card width */
  height: auto;   /* fixes aspect ratio.. */
  border-radius: 12px;
}

header > h1 {
  color: white;
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 0%;  /* no automatic space under*/
}

header > p {
  color: rgb(251, 164, 133);
  font-weight: 300;
  font-size: 0.9rem;
  margin-top: 3%;
}
.buttons-div{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-top: 7%;
}
.email-btn {
  display: flex;
  align-items: center;
  background-color: rgb(228, 228, 228);
  border: none;
  border-radius: 4px;
  padding: 7px 22px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 0.9rem;
  transition: 0.2s;
}
.email-btn:hover { 
  background-color: white;
  cursor: pointer;
}
.email-btn:active {
  transform: scale(0.95);
}

.link-btn{ 
  display: flex;
  align-items: center;
  background-color: #41a2df;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 7px 14px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 0.9rem;
  transition: 0.2s;
}
.link-btn:hover { 
  background-color: #2DAFFF;
  cursor: pointer;
}
.link-btn:active {
  transform: scale(0.95);
}

.btn-icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.about-div {
  text-align: left;
  margin-top: 10%;
}

.about-div > p {
  margin-top: 3%;
}


.interests-div {
  text-align: left;
  margin-top: 9%;
}

.interests-div > p {
  margin-top: 3%;
}

.footer {
  display: flex;
  background-color: rgb(18, 18, 18);
  justify-content: center;
  gap: 80px;
  padding: 12px;
}

.footer img {
  width: 22px;
  opacity: calc(50%);
  transition: 0.2s;
}

.footer img:hover {
  opacity: calc(100%);
}